:root {
  --main-color: #fff;
  --form-text-color: #434343;
  --form-placeholder-color: #bebebe;
  --accent-color: #3cb878;
  --accent-form-hover-color: #01813f;
}
*:hover {
  transition: 0.3s;
}
body {
  background-image: url("../img/Background.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--main-color);
}
.header {
  display: flex;
  align-items: center;
  height: 7%;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header_container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: var(--main-color);
}
.logo:hover,
.navbar_login:hover,
.navbar_signup:hover {
  color: var(--accent-color);
}
.navbar {
  width: 350px;
  display: flex;
  justify-content: space-between;
}
.navbar_icons {
  position: relative;
  width: 126px;
  display: flex;
  justify-content: space-between;
}
.navbar_icons::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 19px;
  background-color: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  opacity: 0.5;
  left: 146px;
  bottom: 3px;
}
.navbar_icon:hover svg path {
  fill: var(--accent-color);
  transition: 0.3s;
}
.navbar_text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 14px;
  color: var(--main-color);
}
.navbar_text a {
  color: var(--main-color);
}
.main {
  height: 93%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  /* height: 584px; */
  width: 444px;
  background-color: var(--main-color);
}
.form_container {
  width: 324px;
  margin: 30px auto 38px auto;
}
.form_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.form_signup {
  position: relative;
  font-size: 20px;
  line-height: 20px;
  color: var(--form-text-color);
}
.form_signup::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  right: 111px;
  background-color: var(--accent-color);
}
.form_login {
  font-size: 14px;
  line-height: 14px;
  color: var(--accent-color);
}
.form_login:hover {
  color: var(--accent-form-hover-color);
}
.signup_via {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}
.signup_link {
  width: 160px;
  height: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: var(--main-color);
}
.facebook {
  position: relative;
  background-color: #305db8;
}
.facebook:hover {
  background-color: #022263;
}
.facebook::before {
  position: absolute;
  right: 108px;
  content: "";
  height: 28px;
  width: 1px;
  opacity: 10%;
  background-color: #0a162f;
}
.google {
  background-color: #df4a32;
}
.google:hover {
  outline: none;
  background-color: #ab1f09;
}
.or {
  text-align: center;
  position: relative;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
}
.or::before,
.or::after {
  position: absolute;
  bottom: 5px;
  content: "";
  height: 1px;
  width: 152px;
  background-color: #f2f2f2;
}
.or::before {
  right: 172px;
}
.or::after {
  right: 0px;
}
.input_container {
  margin: 12px 0;
  height: 288px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input {
  height: 44px;
  padding-left: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  line-height: 14px;
  color: var(--form-text-color);
}
.input::placeholder {
  color: var(--form-placeholder-color);
}
.input:hover,
.input:focus {
  outline: none;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}
.checkbox_container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}
#checkbox {
  cursor: pointer;
}
.checkbox_label {
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  cursor: pointer;
}
.checkbox_terms {
  color: var(--accent-color);
}
.checkbox_terms:hover {
  color: var(--accent-form-hover-color);
}
.checkbox_button {
  padding: 0;
  width: 324px;
  height: 46px;
  font-size: 16px;
  line-height: 16px;
  border: none;
  background-color: var(--accent-color);
  opacity: 80%;
  color: var(--main-color);
  cursor: pointer;
}
.checkbox_button:hover,
.checkbox_button:focus {
  background-color: var(--accent-form-hover-color);
}
